.paper {
  padding: 16px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.autoHeight {
  height: auto;
}
.heightFixed {
  height: 140px;
}
.progress {
  width: 100%;
}
.recordInputs {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.recordInputs input {
  width: 60px;
}
.extraWidth input {
  width: 140px;
}
.borderRightWhite {
  border-right: 1px solid white;
}
.borderRightBlack {
  border-right: 1px solid black;
}
.primeStuff {
  background: rgb(178, 238, 178);
}
.minus {
  background: rgb(248, 188, 208);
}
.cash {
  background: green;
  width: 200px;
  color: white !important;
  font-weight: bold !important;
}

.normalCell {
  width: 150px;
}
