.paper {
    padding: 16px;
    display: flex;
    overflow: auto;
    flex-direction: column;
  }
  .autoHeight{
      height: auto;
  }
  .heightFixed{
    height: 140px;
}
  .progress{
      width: 100%;
  }
  .recordInputs{
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  .recordInputs input{
      width: 80px;
}
.extraWidth input{
    width: 140px;
}